{% extends "__layout.twig" %}

{% block content %}
	<div class="row d-flex">
		{% for object in brz_cars %}
			<div class="col mb-4 d-flex align-items-stretch">
				<div class="border p-2 d-flex flex-column justify-content-between position-relative">
					<div class="position-absolute" style="left: 4px; top: 4px">
						<form action="/brz_cars/{{ object.id }}/edit" method="GET"> 
							<input type="hidden" name="id" value="{{ object.id }}">
							<button type="submit" class="btn btn-info">
								<i class="bi bi-pencil"></i>
							</button>
						</form>
					</div>
					<div class="position-absolute" style="right: 4px; top: 4px">
						<form action="/brz_cars/{{ object.id }}/delete" method="POST"> 
							<input type="hidden" name="id" value="{{ object.id }}">
							<button type="submit" class="btn btn-danger">
								<i class="bi bi-x-lg"></i>
							</button>
						</form>
					</div>

					<div class="img-thumbnail mb-2" style="width: 100%; height: 130px; overflow:hidden">
						<img src="{{ object.image }}" style="height: 100%; width: 100%; object-fit: contain;" alt="{{ object.description }}">
					</div>
					<div class="d-flex flex-column">
						<a class="btn btn-primary mb-1" href="/brz_cars/{{ object.id }}">{{ object.title }}</a>
						<div class="d-flex justify-content-center">
							<a class="me-3" href="/brz_cars/{{ object.id }}?show=image">Kартинка</a>
							<a href="/brz_cars/{{ object.id }}?show=info">Описание</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
